[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
streamlit = "*"
langchain-google-genai = "*"
langchain-community = "*"
faiss-cpu = "*"
langchainhub = "*"
pypdf = "*"
langsmith = "*"

[dev-packages]

[requires]
python_version = "3.10"
